<!-- <footer class="footer">
    <div class="container">
        <span class="text-muted">2023 @Chrysa</span>
    </div>
</footer> -->
<!DOCTYPE html>
<html data-wf-domain="velocity-free-template.webflow.io" data-wf-page="5e4b18feebfd1a8edcb930ea"
  data-wf-site="5e4b18feebfd1a721bb930e6" data-wf-status="1">

<div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="spc w-col w-col-4">
          <h5>about Chrysa</h5>
          <p>The Greek software engineer - when she's not buried in lines of code, you can find her out exploring new adventures around Ireland</p>
        </div>
        
        <div class="w-col w-col-4">
          <h5>social</h5>
          
          <div class="footer-link-wrapper w-clearfix"><img
              src="https://assets.website-files.com/5e4b18feebfd1a721bb930e6/5e4b18feebfd1a0b47b9311e_social-03.svg"
              width="20" alt="" class="info-icon" /><a href="https://www.facebook.com/chrysa.14/" class="footer-link with-icon">Facebook</a></div>
          <div class="footer-link-wrapper w-clearfix"><img
              src="..\assets\linkedin.png"
              width="20" alt="" class="info-icon" /><a href="https://www.linkedin.com/in/kostoula-chrysa/" class="footer-link with-icon">LinkedIn</a></div>
          
        </div>
      </div>
    </div>
  </div>

  </html>

